body {
    background-color: #E5E5E5;
}

.topicviewOffer {
    margin-top: 20pt;
    font-size: 30pt;
    font-family: Merriweather;
    font-style: italic;
    font-weight: bold;
    color: black;
    margin-bottom: 0%;
    text-align: left;
    width: fit-content;
    margin-left: 0;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


/* .backgroundRowImageOffer {
    background: url(../images/restaurant-in-valkenswaard.png) no-repeat center;
    background-size: cover;
    min-height: 100%;
    min-width: 100%;
    width: 100vh;
    height: 100vh;
    margin-right: 0%;
    margin-left: 0%;
    padding-bottom: 100%;
} */

.imageBoxOffer {
    width: 200px;
    height: 150px;
}

.paraTerms {
    font-family: Merriweather;
    font-style: italic;
    font-weight: normal;
    font-size: 9pt;
    color: #DC143C;
}

.offerNamefont {
    font-family: Marmelad;
    font-weight: bold;
    color: black;
}

.offerDetails {
    font-family: Marmelad;
    font-weight: normal;
    color: black;
    text-align: center;
}

.priceDiscount {
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    animation: blinker 1s linear infinite;
    color: maroon;
    font-size: 18pt;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.priceNew {
    font-family: sans-serif;
    text-align: center;
    color: red;
}

.deleteButton {
    width: 140px;
    height: 40px;
    background: #47AAE2;
    border-radius: 45px;
    font-family: Merriweather;
    font-style: italic;
    font-weight: normal;
    color: #FFFFFF;
    font-size: 15pt;
    margin-top: 25%;
    margin-left: 25%;
    margin-bottom: 25%;
}